@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


/* banner option */
.banner-container {
    max-width: 1320px;
    height: 600px;
    background-image: url("/new-year-offer-resources/images/Banner\ Image.png");
    margin: 20px 16px 120px 16px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner-para {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner-header {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* second section */

.second-section-container {
    width: auto;
    height: 806px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.second-section-container-detail {
    width: 802.9px;
    height: 806px;
    align-content: center;
}

.second-section-container-header {
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
    color: red;
}

.second-section-container-para {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-section-container-header-four {
    font-family: Inter;
    color: rgb(7, 2, 17);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 48px;
}

.second-section-container-img {
    width: 802.9px;
    height: 500px;
}


/* third-section-container */

.third-section-container {
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    background-image: url(new-year-offer-resources/images/Vectorrr.png);
    display: flex;
}

/* left-side */

.leftside-content {
    width: 50%;
    height: 600px;
    display: block;
    align-content: center;
}

.leftside-header {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-left: 126px;
}

.leftside-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  margin-bottom: 48px;
  margin-left: 126px;
}

span {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-align: left;
margin-left: 158px;
}

/* righ-tside */
.rightside-content {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside-content-img {
    width: 349.16px;
    height: 464.65px;
    background-image: url(new-year-offer-resources/images/Group\ 70.png);
}



/* fourth-section-container */

.fourth-section-container {
    width: auto;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    /* font-family: Inter;
    font-weight: 700;
    font-size: 32px; */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    margin: 0px 16px 120px 16px;
   
}

.fourth-section-detail {
    width: auto;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-right: 180px;
    gap: 20px;
    text-align: center;
    /* margin-right: 200px; */
}

.btn {
    display: flex;
    justify-content: center;
}

.fourth-section-header {
    color: red;
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

button {
    width: 167px;
   height: 56px;
   padding: 16px 32px 16px 32px;
   border: none;
   border-radius: 8px;
   background: rgb(255, 0, 0);
   color: white;
   font-family: Inter;
   font-size: 20px;
   font-weight: 700; 
}

/* fifth-section-container */

.fifth-section-container {
    width: 1320px;
    height: 463px;
    margin: 20px 16px 120px 16px;
    display: flex;
    font-family: Inter;
}

.left-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container h4 {
    margin-bottom: 10px;
    color: red;
    padding-left: 15px;
}

.left-container h1 {
    margin-bottom: 10px;
    font-weight: 900;
    font-family: Merriweather;
    padding-left: 15px;
}

.left-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 50px;
}

/* middle container */


.middle-container {
    width: 440px;
    /* height: 462px; */
    border: 15px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-container-pic-circle {
    width: 364.84px;
    height: 364.84px;
    border-radius: 50%;
    background-image: url(new-year-offer-resources/images/Ellipse\ 1.png);
}

.right-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.right-container-header {
   color: rgb(255, 0, 0);
   font-family: Inter;
   font-size: 40px;
   font-weight: 700;
   margin-top: 125px;
   margin-bottom: 15px;
   padding-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
    
}

.right-container-para {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 47px;
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
   flex-direction: column;
   justify-content: center;
}

.right-container-img {
    width: 140px;
    height: 140px;
    padding-left: 15px;
    background-image: url(new-year-offer-resources/images/Group\ 96.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Sixth section */

.sixth-section {
    width: 1320px;
    height: 986.07px;
    
    position: relative;
   
}

.sixth-section-detail {
    text-align: center;
    padding-right: 160px;
}

.sixth-section-detail h5 {
    color: rgb(7, 2, 17);
   font-family: Inter;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 16px;
}

.sixth-section-detail h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    padding-right: 150px;
}

.sixth-section-detail p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.holiday {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: red;
}

.rectangle {
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}

.gift-box {
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 400px;
    align-items: center;
    
}

.gift-box-img {
    width: 500px;
    margin-top: 350px;
}

.discount-container {
    margin-top: 100px;
    
}

/* portfolio styles */
.portfolio-container {
    width: 1320px;
    height: 1163px;
    margin: 120px auto 0;
    
}

.portfolio-text-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.portfolio-text-content h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 4px;
}

.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

.item {
    width: 424px;
    height: 450px;
}

.portfolio-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item img {
    width: 100%;
    height: 100%;
}